p {
  text-align: right;
  font-weight: 100;
  font-family: Arial;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

div {
  width: 200px;
  height: 50px;
  background-color: aquamarine;
  /* border: 3px dashed black; */
  text-align: left;
  border-radius: 15px;
  padding-left: 25px;
  margin: 25px;
}
