div {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
  border: 2px solid black;
}

div:hover {
  background-color: red;
  color: white;
}

div:active {
  background-color: rgb(0, 255, 98);
  color: white;
}
